@use 'variables';

@media (width >=1024px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        max-width: 1240px;
        margin: auto;
        padding: 3dvh;

        .nav-list {
            display: flex;
            flex-direction: row !important;
            gap: 2dvh;
            list-style: none;
        }
    }
}

@media (width >=1024px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        margin: auto;
        position: relative;

        .hero-container {

            .frontend {
                margin-bottom: 3dvh !important;
            }


            .hero-paragraph {
                margin: 3dvh !important;
            }
        }

        .circle1 {
            width: 7dvh;
            height: 7dvh;
            border-radius: 50%;
            background-color: variables.$primary;
            position: absolute;
            left: 30dvh;
            ;
            bottom: 50dvh;
            animation: slideUp 1s alternate infinite;
        }

        .circle2 {
            width: 7dvh;
            height: 7dvh;
            border-radius: 50%;
            background-color: variables.$accent;
            position: absolute;
            right: 40dvh;
            bottom: 45dvh;
            animation: fadeIn 0.8s alternate infinite, slideUp 1s alternate infinite;
        }

        .circle3 {
            width: 7dvh;
            height: 7dvh;
            border-radius: 50%;
            background-color: variables.$ring;
            position: absolute;
            right: 20dvh;
            bottom: 35dvh;
            animation: float 3s ease-in-out infinite;
        }
    }
}

@media (width >=1024px) {
    .about-me {
        max-width: 1240px;
        margin: auto;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                margin: 5dvh;

                span {
                    font-size: 3rem;
                }
            }
        }

        .about {
            display: flex;
            flex-direction: row !important;
            margin-top: 5dvh;

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr) !important;
            }

            .about-text {
                flex: 1;
            }

            .technologies {
                flex: 1;
                margin-top: 7dvh;

                .tech-container {
                    display: flex;
                    flex-direction: row !important;

                    div {
                        flex: 1;
                    }
                }
            }
        }
    }
}

@media (width >=1024px) {
    .projetos {
        display: flex;
        max-width: 1240px;
        margin: auto;

        h2 {
            margin: 5dvh;

            span {
                font-size: 3rem !important;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;

            .card-tech {
                display: flex;
                flex-direction: row !important;
            }
        }

        .card-btn {
            margin-top: 5dvh !important;
            padding-bottom: 5dvh;
        }
    }
}

@media (width >=1024px) {
    .testimonials {
        display: flex;
        max-width: 1240px;
        margin: auto;

        h2 {
            margin: 5dvh;

            span {
                font-size: 3rem !important;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 2dvh;
            margin: 5dvh !important;
        }
    }
}

@media (width >=1024px) {
    .contacts {
        max-width: 1240px !important;
        margin: auto !important;
        display: flex;
        margin-top: 5dvh;

        h2 {
            margin: 5dvh;

            span {
                font-size: 3rem !important;
            }
        }

        .contact-container {
            display: flex;
            flex-direction: row !important;
            max-width: 1240px;
            margin: auto;
            margin-top: 5dvh;


            div {
                flex: 1;
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                h3 {
                    margin-bottom: 2dvh;
                }

                p {
                    line-height: 2rem;
                    margin-bottom: 3dvh;
                }
            }
        }

        .formulario {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                display: flex;
            }
        }
    }
}